{% extends "base_centered.html" %}
{% block title %}Sign Out{% endblock %}
{% block content %}
<div class="text-center mb-4">
  <a href="." class="navbar-brand navbar-brand-autodark">
      <h2>Hostel Complaint Portal</h2>
  </a>
</div>
<form class="card card-md" method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  <div class="card-body">
    <h2 class="h2 text-center mb-4">Sign Out</h2>
    <p class="text-secondary mb-4 text-center">Are you sure you want to sign out?</p>
    <div class="form-footer">
      <button type="submit" class="btn btn-danger w-100">Yes, sign me out</button>
      <a href="{% url 'home' %}" class="btn w-100 mt-2">Cancel</a>
    </div>
  </div>
</form>
{% endblock %}