{% extends "base_centered.html" %}
{% load socialaccount %}
{% block title %}Welcome{% endblock %}
{% block content %}
<div class="text-center mb-4">
  <a href="." class="navbar-brand navbar-brand-autodark">
    <h1>Hostel Complaint Portal</h1>
  </a>
</div>
<div class="card card-md">
  <div class="card-body text-center">
    <h2 class="h2 text-center mb-4">Welcome to the Portal</h2>
    <p class="text-secondary mb-4">
      The official platform for BITS Pilani students to submit and track hostel-related complaints and queries.
    </p>
    {% provider_login_url "google" as google_login_url %}
    <a href="{{ google_login_url }}" class="btn btn-primary w-100">
      <i class="ti ti-brand-google me-2"></i>
      Login with BITS Mail
    </a>
  </div>
</div>
{% endblock %}